@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Urbanist:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

/* DaisyUI Light Theme */
[data-theme="light"] {
  --primary: #191970;
  --secondary: #6F8FAF;
  --text: #ffffff;
}


/* Font setup */
body {
  font-family: "Josefin Sans", "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--text);
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--secondary);
}
